/* Empty. Add your own CSS if you like */

.text-center{
    text-align: center;
}

/* button{ */
/*     float: right; */
/* } */

a{
    text-decoration: none;
}

.quatre{
    background-color: green;
    height: 80vh;
}

.quatre button{
   border-radius: 50%;
   height: 15%;
}


.quatre .row{
    margin-top: 3VH;
}

#begin-match {
    margin-top: 3vh;
}

table, th, td {
    border: 1px solid black;
}


/*  screen > 520px  and landscape mode*/
@media screen and (orientation:landscape) and (min-width: 520px) {
  .connexion{
      width: 80%;
      margin: 0 auto;
  }
}
