/* Empty. Add your own CSS if you like */

@font-face {
  font-weight: 'Raleway', sans-serif;
}

* {
  font-family: Raleway
}
.chart div {
  background-color: steelblue;

}
.main-background{
  background: #1e3239;
}

.rounded-corner{
  border-radius: 25px;
}
.input-login{
   border-radius: 25px;
   border: 1px solid white;
   background: none;
   margin-bottom: 10px;
   margin-top: 10px;
}

.input-login .white-color{
  color: #FFFFFF;
}

#register{
  float: left;
  color: white;
}

#forgot{
  float: right;
  color: white;
}

#register-forgot{
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.css-form input.ng-invalid.ng-dirty{
  border-color: #FA787E;
  border-width: 3px;
  border-style: solid;

}

.css-form input.ng-valid.ng-dirty{
  border-color: #78FA89;
  border-width: 3px;
  border-style: solid;
}

.whistle{
  background-image: url('../img/whistle.png');
  background-size: 10vh 10vh;
  background-position: left top;
  background-repeat: no-repeat;
  width: 10vh;
  height: 10vh;
}


.button-player{
  background-image: url('../img/hexagon_playerz_stroke.png');
  background-size: 20vh 20vh;
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20vh;
  height: 20vh;

  padding-top: 7vh;
  font-size: 1em;
}


.stricker {
  clear: both;
  margin: 0 auto;
  width: 40vh;
}

.midfielder, .defender{
  margin: 0 auto;
  clear: both;
  width: 80vh;
}

.goalkeeper{
  margin: 0 auto;
  clear: both;
  width: 20vh;
}


.text-center {
    text-align: center;
}

.button-energized{
  margin-bottom: 2.5vh;
  font-weight: bold;
  line-height: 100%;
}
#match-statistics {
    background: url('../img/blue-polygon.jpg')
}
table, th, td {
    border: 1px solid black;
}
a {
    text-decoration: none;
}

.tactique{
  width: 100vh;
  margin: 0 auto;
}
.quatre {
    height: 85vh;
    width: 100%;
    margin: 0 auto;
}
.quatre button {
    border-radius: 50%;
    height: 10vh;
}
#begin-match {
  height: 10vh;
  width: 10vh;
  float: right;
}

#begin-match img{

  height: 10vh;
  width: 10vh;
  float: right;

}

.rem{
  float: left;
  margin-right: 0.5vw;
  height: 10vh;
  width: 10vw;
  background-color: green;
}
div .row-player + .row-player, .row-player {
    float: right;

}
#title-login {
    margin: 5vh;
    text-align: center;
}

/*  screen > 520px  and landscape mode*/

@media screen and (orientation:landscape) and (min-width: 520px) {
    .connexion {
        width: 80%;
        margin: 0 auto;
    }
}
.connexion {
    margin-top: 25vh;
}
