<ion-view title="Compte"
          id="account">
    <ion-nav-bar class="bar-positive"
                 align-title="center">
        <ion-nav-back-button class="button-clear"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div class="list">
            <div class="item item-input item-stacked-label item-button-right">
                <span class="input-label">{{ 'PHONE_NUMBER' | translate }}</span>
                <input type="number"
                       placeholder="{{'ADD' | translate}}"
                       ng-model="account.coach.number_tel"
                >
                </input>
                <button class="button button-positive"
                        ng-click="account.changeNumber()"
                >
                    {{ 'OK' | translate }}
                </button>
            </div>
            <div class="item item-input item-stacked-label item-button-right"
                 ng-hide="account.coach.connected === 'facebook'"
            >
                <span class="input-label">
                    {{ 'EMAIL' | translate }}
                </span>
                <input type="email"
                       ng-model="account.coach.email"
                >

                </input>
                <button class="button button-positive"
                        ng-click="account.changeMail()"
                >
                    {{ 'OK' | translate }}
                </button>
            </div>
            <div ng-hide="account.coach.connected === 'facebook'"
                 class="item positive"
                 ui-sref="change-password"
                 id="div-change-password"
            >
                <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>
            </div>
        </div>
    </ion-content>
</ion-view>
