<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Ajouter une équipe</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <p>Inscris ton équipe</p>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nom de votre club" ng-model="profile.team.name_club">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Categorie" ng-model="profile.team.category">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Division de l'equipe" ng-model="profile.team.division">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="profile.addTeamFacebookUser()">
            C'est parti
        </button>
    </ion-content>
</ion-modal-view>
