
<span ng-click="popupAreaAttempts.close()">&times</span>
<div class="row">
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt1')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt2')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt3')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt4')"></div>
</div>
<div class="row">
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt5')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt6')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt7')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneAttempt8')"></div>
</div>
