<span ng-click="popupAreaBut.close()">&times</span>
<img src="img/attempt_off_target_icon.png" ng-click="matchStat.countMainAction('attemptsOffTarget')" alt="" height="36" width="36" />
<div class="row">
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut1')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut2')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut3')"></div>
</div>

<div class="row">
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut4')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut5')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut6')"></div>
</div>

<div class="row">
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut7')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut8')"></div>
    <div class="col area" ng-click="matchStat.addAreaAttemptsAndBut('zoneBut9')"></div>
</div>
