<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Changement</h1>
      <button class="button button-clear button-primary" ng-click="matchStat.backToMatch()">Retour au match</button>
  </ion-header-bar>
    <ion-content scroll="false">
        <div class="row">
          <div class="rem" ng-drag-data="player" ng-drag="true" ng-drop="true" ng-drop-success="matchStat.onDropComplete($index, $data)" ng-repeat="player in matchStat.playerSelected" ng-if="player.position === 'REM'">
              <a> {{player.last_name}}
                  <br/> {{player.first_name}} {{player.position}}
              </a>
          </div>
            <div class="col col-67">
                <div class="row quatre">
                    <div ng-if="matchStat.formation === '4-4-2'">
                        <four-fourtwo info="matchStat.playerSelected" drag="true" drop-complete="matchStat.onDropComplete(index, data)"></four-fourtwo>
                    </div>

                </div>
            </div>

        </div>
    </ion-content>
</ion-modal-view>
