<ion-view title="Mot de passe" id="change-password">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Mot de passe actuel</span>
                <input type="password" ng-model="changePassword.settingsPassword.current_password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Nouveau mot de passe</span>
                <input type="password" ng-model="changePassword.settingsPassword.new_password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Vérification du mot de passe</span>
                <input type="password" ng-model="changePassword.settingsPassword.conf_new_password">
            </label>
            <button class="button button-positive button-full" ng-click="changePassword.changePassword()">Changer de mot de passe</button>
        </div>
    </ion-content>
</ion-view>
