<!-- <div class="fb-login-button"  data-show-faces="false" data-scope="public_profile" data-auto-logout-link="true"></div> -->

<ion-view title="Se connecter" class="main-background">
    <h1 id='title-login'>Playerz</h1>
    <ion-content class="padding connexion" scroll="false">
        <form name="LoginForm">
            <div class="list">
                <label class="item item-input input-login">
                    <input class="text-center white-color" type="email" placeholder="Email" ng-model="login.user.email">
                </label>
                <label class="item item-input input-login">
                    <input class="text-center white-color" type="password" placeholder="Mot de passe" ng-model="login.user.password">
                </label>
            </div>
            <button class="button button-full button-balanced rounded-corner" ng-click="login.login()">
                Se connecter
            </button>
            <button class="button button-full button-positive rounded-corner" ng-click="login.loginFacebook()">
                Login with Facebook</button>
            <button class="button button-positive button-clear button-full" ui-sref="register">S'inscrire</button>
            <button class="button button-positive button-clear button-full" ui-sref="forgot">Mot de passe oublié</button>
        </form>
    </ion-content>
</ion-view>
