<ion-view title="{{player.player.first_name}} {{player.player.last_name}}" id="player-view">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear">

        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding text-center">
        <h1>{{player.player.first_name}}</h1>
        <h2>{{player.player.last_name}}</h2>
        <p>{{player.player.favourite_position}}</p>
        <p>Nombre de match joués : {{player.nbrMatchPlayed}}</p>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" style="height: 20vh">
            <ion-slide>
                <div class="chart" style="width : 80%; padding-top: 5vh">
                    <p>Statistique globale : {{player.statisticsGlobal}}</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow" style="background: yellow; height: 20vh">
                    <h1>YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink" style="background: pink; height: 20vh">
                    <h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>


        <ion-list>
            <ion-item ng-repeat="match in player.matchPlayed" ng-click="player.goPlayerStat(match._id)">

                <p>{{match.against_team}}</p>
                <p>{{match.date | date:'dd MMMM yyyy'}}</p>
                <!-- <ion-option-button ng-click="">Supprimer</ion-option-button> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
