<ion-view title="Profile">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear">
        </ion-nav-back-button>
        <!-- <ion-nav-buttons side="secondary">
            <button class="button button-icon">

            </button> -->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nom</span>
                <input type="text" placeholder="Nom" ng-model="profileSetting.coach.first_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Prénom</span>
                <input type="text" placeholder="Prénom" ng-model="profileSetting.coach.last_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date de naissance</span>
                <input type="date" placeholder="Date de naissance" ng-model="profileSetting.coach.birth_date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Site web du club</span>
                <input ng-show="!profileSetting.coach.website_club" type="text" placeholder="Ajouter" ng-model="profileSetting.coach.website_club">
                <input ng-show="profileSetting.coach.website_club" type="text" placeholder="Ajouter" ng-model="profileSetting.coach.website_club">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Site web personel</span>
                <input ng-show="!profileSetting.coach.website_perso" type="text" placeholder="Ajouter" ng-model="profileSetting.coach.website_perso">
                <input ng-show="profileSetting.coach.website_perso" type="text"  ng-model="profileSetting.coach.website_perso">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="profileSetting.updateCoach()">
            SAUVEGARDER
        </button>
    </ion-content>
    <!-- TODO: add upload photo profile and logo club -->
</ion-view>
