<ion-view title="Inscription" id="register-info">
    <ion-content class="padding" scroll="false">
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Nom" ng-model="register.user.first_name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Prénom" ng-model="register.user.last_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Date de naissance</span>
                <input type="date" ng-model="register.user.birth_date">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Pays" ng-change="register.searchCountries()" ng-model="register.user.country">
          </label>

            <div ng-show="register.user.country.length" id="auto-complete">
                <li class="item item-icon-left" ng-click="register.selectedCountries($index)" ng-repeat="country in register.countries"><i class="icon ion-search"></i>{{country}}</li>
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Genre
                </div>
                <select ng-model="register.user.genre">
                    <option>Masculin</option>
                    <option selected>Feminin</option>
                </select>
            </label>

        </div>
        <button class="button button-full button-positive" ui-sref="register.team">
            Suivant
        </button>
    </ion-content>
</ion-view>
