<table border="1">
  <thead>
    <tr>
      <th></th>
      <th ng-repeat="stat in summary.namesStats">{{stat}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in summary.realTimePlayers">
      <td>{{player.last_name}} </br> {{player.first_name}}</td>
      <td>nb min jouées</td>
      <td>{{player.statistics.ballPlayed}}</td>
      <td>{{player.statistics.ballLost}}</td>
      <td>{{player.statistics.passesCompletion}}</td>
      <td>{{player.statistics.retrieveBalls}}</td>
      <td>{{player.statistics.defensiveAction}}</td>
      <td>{{player.statistics.relanceCompletion}}</td>
      <td>{{player.statistics.foulsCommitted}}</td>
      <td>{{player.statistics.foulsSuffered}} </td>
      <td>{{player.statistics.offSide}}</td>
      <td>{{}}</td>
      <td>{{player.statistics.attemptsOnTarget}}</td>
      <td>{{player.statistics.beforeAssist}}</td>
      <td>{{player.statistics.assist}}</td>
      <td>{{player.statistics.but}}</td>
    </tr>
  </tbody>
</table>
