<div class="row" id="tactique">

    <div class="col col-33">

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Formation
                </div>
                <select ng-model="tactique.formation" ng-change="tactique.addFormation(tactique.formation)" ng-init="tactique.formation = '4-4-2'">
                    <option>4-4-2</option>
                    <option>4-3-3</option>
                </select>
            </label>
        </div>

        <ion-scroll style="height:90vh">
            <ion-list>
                <ion-item ng-repeat="player in tactique.players" class="item">
                    {{player.first_name}}
                    <br/> {{player.last_name}}
                    <select ng-model="post_player" ng-options="player_post.post for player_post in tactique.post" ng-change="tactique.addPlayerSelected(player._id, post_player.post)"></select>

                    <ion-option-button class="button-positive" ng-click="tactique.addPlayerSelected(player._id)">Ajouter</ion-option-button>
                    <br/>
                    <ion-option-button ng-click="tactique.removePlayerSelected(player._id, player)">Supprimer</ion-option-button>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </div>

    <div class="col col-67">
        <div class="row quatre">
            <div ng-if="tactique.formation === '4-4-2'" style="margin: 0 auto">
                <four-fourtwo info="tactique.playerSelected" click="true"></four-fourtwo>
            </div>

            <div ng-if="tactique.formation === '4-3-3'">
                <four-threethree></four-threethree>
            </div>
        </div>

        <div class="row" id="begin-match">
            <button class="button button-assertive" ui-sref="match-statistics({ matchId: tactique.matchId })">
                Début du match
            </button>
        </div>
    </div>

</div>
