<ion-view title="Effectif">
  <ion-nav-buttons side="secondary">
    <button class="button ion-plus-circled" ng-click="openModal()">
    </button>
  </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Rechercher un joueur" ng-model="troop.searchPlayer">
                </label>
                </br>
                <ion-list>
                    <!-- <ion-scroll> -->
                        <ion-item ng-repeat="player in troop.players | filter:troop.searchPlayer" ng-click="troop.goPlayer(player._id)">
                            <h2>{{player.last_name}}</h2>
                            <h4>{{player.first_name}}</h4>
                            <ion-option-button ng-click="troop.removePlayer(player._id)">Supprimer</ion-option-button>
                        </ion-item>
                    <!-- </ion-scroll> -->
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
